.liber-news-form {
    width: 90%;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    section {
        display: flex;
        flex-flow: row;
        md-icon {
            display: block;
            width: 50px;
            margin-top: 18px;
        }
        .right-side {
            display: flex;
            flex-flow: column;
            width: 100%;
            button {
                width: 200px;
            }
        }
    }
    .bottom-bar {
        position: fixed;
        bottom: 30px;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        border-top: 1px solid #AAA;
        padding-top: 17px;
        width: 90%;
        margin: 0 auto;
        button {
            margin-left: 10px;
        }
    }
}